.main {  
    grid-area: main;  
  }
  
  .header {
    background-image: url("http://dgdesign.ru/uploads/posts/2019-02/1549455082_shapka-sayta-vesna-1151132.jpg");
    background-size: cover;
    height: 200px;
  }
  
  .info {
    display: grid;
    margin-top: 7px;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: 
    "logo name" 
  
  }
  
  .avatar img {
    grid-area: logo;
    height: 150px;
  }
  
  .name {
    grid-area: name;
    padding-left: 14px;
    font-size: 2em;
  
  }
  
  .name p {
    margin: 4px;
  }