.app-wrapper {
  width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 12px;
  grid-template-areas: 
  "header header" 
  "aside main";
}





